In [2]:
import pandas as pd
import numpy as np

# 1 Creando un dataFrame

## 1.1 Opci√≥n 1

In [4]:
# Creando un array
data = np.array([[1, 4], [2, 5], [3, 4]])
data

array([[1, 4],
       [2, 5],
       [3, 4]])

In [5]:
dt = pd.DataFrame(data, index=["row1", "row2", "row3"], columns=["col1", "col2"])
dt

      col1  col2
row1     1     4
row2     2     5
row3     3     4